/* Body */
body    {
    margin: 0;
    max-height: 5fr;
    background: rgb(81, 80, 85);
    overflow: hidden;
}

/* Classes */
.head   {
    display: flex;
    background: rgba(50, 50, 53, 0.726);
    height: 1fr;
}

.head > div >  a{
    color:rgba(198, 205, 212, 0.726);
    padding-left: 5px;
    padding-right: 10px;
    outline: none;
    text-decoration: none;
}
/* Forms */
.forms  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    height: 3fr;
    background-color: black;
}

.div_actuatorform   {
    
    border-radius: 5px;
}

.div_controllerform   {
    
    border-radius: 5px;
}

.addActuator    {
    display: none;
}

.addController  {
    display: none;
}
/* End Forms */
/* Start Led div */
.led    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch; 
    height: 5fr;
}

.led-switch {
    display: grid;
    grid-template-areas: 
        'switch-onoff'
        'switch-label';
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

.led-switch-onoff   {
    margin: auto;
    grid-area: switch-onoff;
}

.led-switch-label   {
    margin: auto;
    text-align: center;
    grid-area: switch-label;
}

.led-controller {
    display: grid;
    grid-template-areas: 
        'controller-onoff controller-onoff'
        'controller-increase controller-decrease'
        'controller-colorshift controller-colorshift';    
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

.led-controller-onoff   {
    margin: auto;
    grid-area: controller-onoff;    
}

.led-controller-increase   {
    margin: auto;
    grid-area: controller-increase;
}

.led-controller-decrease   {
    margin: auto;
    grid-area: controller-decrease;
}

.led-controller-colorshift   {
    margin: auto;
    grid-area: controller-colorshift;
}


/* End led div */
.charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;    
    height: 7fr;
}

.charts > div   {
    max-height: 300px;
    max-width: 500px;
    min-height: 300px;
    min-width: 400px;
}

.flash  {
    height: 1fr;
}