/* Body */
html {
    height: 100%;
}

body    {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    background: linear-gradient(	rgb(37, 47, 61), 	rgb(46, 60, 75));

}

/* Classes */
.head   {
    display: flex;
    background: rgba(0,0,0,.5);
    padding: 15px;
}

.head > div >  a{
    padding-left: 5px;
    padding-right: 10px;
    outline: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* Forms */
.forms  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    /*color:rgba(198, 205, 212, 0.726);*/
    margin: 20px;
    padding: 15px;
}

.div_actuatorform   {
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
}

.div_actuatorform > button  {
    margin: auto;
}

.div_controllerform   {
    margin: 20px;
    padding: 15px;    
    border-radius: 5px;
}

.div_controllerform > button  {
    margin: auto;
}

.addActuator    {
    display: none;
}

.addController  {
    display: none;
}
/* End Forms */

/* Start Led div */
.led    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch; 
    margin: 20px;
    padding: 15px;
    gap: 20px;
}

.led-switch {
    display: grid;
    grid-template-areas: 
        'switch-onoff'
        'switch-onoff'
        'switch-label';
    height: 150px;
    width: 150px;
    padding: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    margin: 5px;
    background: 	rgb(28, 37, 49);

}

.led-switch-onoff   {
    margin: auto;
    grid-area: switch-onoff;
}

.switch-onoff   {
    border: none;
    background: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    color: black;
    font-size: 75px;
}

.switch-onoff:focus    {
    outline: none;
}

.led-switch-name   {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: large;
    grid-area: switch-label;
}

.led-controller {
    display: grid;
    grid-template-areas: 
        'controller-onoff controller-onoff'
        'controller-onoff controller-onoff'
        'controller-increase controller-decrease'
        'controller-colorshift controller-colorshift';    
    height: 150px;
    width: 150px;
    padding: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    margin: 5px;
    background: 	rgb(28, 37, 49);
}

.led-controller-onoff   {
    margin: auto;
    grid-area: controller-onoff;    
}

.controller-onoff   {
    border: none;
    background: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    color: black;
    font-size: 50px;
}

.controller-onoff:focus    {
    outline: none;
}

.led-controller-increase   {
    margin: auto;
    grid-area: controller-increase;
}

.controller-increase  {
    border: none;
    background: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    color: black;
    font-size: 30px;
}

.controller-increase:active  {
    outline: none;
    color: red;
}

.controller-increase:focus    {
    outline: none;
}

.led-controller-decrease   {
    margin: auto;
    grid-area: controller-decrease;
}

.controller-decrease   {
    border: none;
    background: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    color: black;
    font-size: 30px;
}

.controller-decrease:active {
    outline: none;
    color: blue;
} 

.controller-decrease:focus    {
    outline: none;
}

.led-controller-colorshift   {
    margin: auto;
    grid-area: controller-colorshift;
}

.controller-colorshift  {
    border: none;
    background: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.controller-colorshift:focus    {
    outline: none;
}

/* End led div */


.charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;    
    margin: 20px;
    padding: 15px;
    gap: 40px;
}

.charts > div   {
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    margin: 10px 20px;
    padding: 10px 10px 10px 10px;
    max-height: 500px;
    max-width: 700px;
    min-height: 300px;
    min-width: 500px;
    background-color: 	rgb(28, 37, 49);
}

.charts div h3  {
    color: rgb(235, 236, 237);
} 

.flash  {
    margin: 20px;
    padding: 15px;
}

