{% extends 'base.html' %}

{% block content %}
    <h1>Add a Student</h1>
    <form action='' method='POST' novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.age.label }}<br>
            {{ form.age(size=32) }}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}
        </p>
        <p>
            {{ form.cellphone.label }}<br>
            {{ form.cellphone(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock content %}