<!doctype html>
<html>
    <head>
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-3-5-1.js') }}"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>   
        {% if title %}
            <title> {{ title }} - flask-app </title>
        {% else %}
            <title> Welcome to flask-app </title>
        {% endif %}
    </head>
    <body>                
        <div> flask-app: 
            <a href="index">Home</a>
            {% if current_user.is_anonymous %}
                <a href="sign_in">Sign in</a>
                <a href="sign_up">Sign up</a>                
            {% else %}
                <a href="sign_out">Sign out</a>
            {% endif %}
        </div>
        <hr>
        {% block content %}
        {% endblock content %}
        <hr>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li> {{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </body>
</html>