<!doctype html>
<html>
    <head>
        <!--A few imports to make the frontend work like a charm!-->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-3-5-1.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>         
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form_style.css') }}">
        {% if title %}
            <title> {{ title }} - Smart Home Assistant </title>
        {% else %}
            <title> Smart Home Assistant </title>
        {% endif %}
    </head>
    <body>                
        <div class='head'>
            <div><a href="index">Smart Home Assistant</a></div>
            {% if current_user.is_anonymous %}
                <div><a href="sign_in">Sign in</a></div>
                <div><a href="sign_up">Sign up</a></div>
            {% else %}
                <div><a href="index">{{current_user.username}}</a></div>
                <div><a href="sign_out">Sign out</a></div>
            {% endif %}
        </div>
        {% block content %}
        {% endblock content %}
        <!--This footer style div handles flash messages.-->
        <div class='flash'>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li> {{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </body>
</html>