{% extends 'base.html' %}

{% block content %}   
<div class='forms'>
    <div class='div_actuatorform'>
        <button id='button_addActuator'>Add new Actuator</button>
        <div class='formwrapper addActuator' id='addActuator'>
            <form action='' method='POST' novalidate>
                {{ formActuator.csrf_token() }}
                {{ formActuator.form_type }}
                <div class='form-field'>
                    {{ formActuator.name.label }}<br>
                    {{ formActuator.name(size=30) }}<br>
                    {% for error in formActuator.name.errors %}
                    <span style='color: red;'> {{ error }}</span>
                    {% endfor %}   
                </div>        
                <div class='form-field'>
                    {{ formActuator.ip.label }}<br>
                    {{ formActuator.ip(size=30) }}<br>
                    {% for error in formActuator.ip.errors %}
                    <span style='color: red;'> {{ error }}</span>
                    {% endfor %}   
                </div>       
                {{ formActuator.submitActuator() }}
            </form>
        </div>
    </div>
    <div class='div_controllerform'>
        <button id='button_addController'>Add new Controller</button>
        <div class='formwrapper addController' id='addController'>        
            <form action='' method='POST' novalidate>
                {{ formController.csrf_token() }}
                {{ formController.form_type }}
                <div class='form-field'>
                    {{ formController.name.label }}<br>
                    {{ formController.name(size=30) }}<br>
                    {% for error in formController.name.errors %}
                    <span style='color: red;'> {{ error }}</span>
                    {% endfor %}   
                </div>        
                <div class='form-field'>
                    {{ formController.red.label }}<br>
                    {{ formController.red(size=30) }}<br>
                    {% for error in formController.red.errors %}
                    <span style='color: red;'> {{ error }}</span>
                    {% endfor %}   
                </div>           
                <div class='form-field'>
                    {{ formController.green.label }}<br>
                    {{ formController.green(size=30) }}<br>
                    {% for error in formController.green.errors %}
                    <span style='color: red;'> {{ error }}</span>
                    {% endfor %}   
                </div>           
                <div class='form-field'>
                    {{ formController.blue.label }}<br>
                    {{ formController.blue(size=30) }}<br>
                    {% for error in formController.blue.errors %}
                    <span style='color: red;'> {{ error }}</span>
                    {% endfor %}   
                </div>       
                {{ formController.submitController() }}
            </form>
        </div>
    </div>
</div>

<div class='led' id='led'>
</div>

<div class='charts'>
    <div class='temp-chart'>
        <canvas id='temp-canvas'></canvas>
    </div>
    
    <div class='hum-chart'>
        <canvas id='hum-canvas'></canvas>
    </div>
</div>
<script src="{{ url_for('static', filename='client/socketio_client.js') }}"></script>
{% endblock content %}