{% extends 'base.html' %}

{% block content %}   
<div class='forms'>
    <form id='actuatorform'>
        <div class='div_actuatorform'>
            <button class='button-form' id='button_addActuator'>New Actuator</button>
            <div class='formwrapper addActuator' id='addActuator'>
                <div class='form-field'>
                    <label for='nameActuator'>Name</label><br>
                    <input id='nameActuator'type="text" size='30px'>
                </div>        
                <div class='form-field'>
                    <label for='ipActuator'>IP Address</label><br>
                    <input id='ipActuator'type="text" size='30px'> 
                </div>   
                <div class='form-field-submit'>
                    <button id='submitActuator' type='submit'>Add</button>
                </div>    
            </div>
        </div>
    </form>
    <form id='controllerform'>
        <div class='div_controllerform'>
            <button class='button-form' id='button_addController'>New Controller</button>
            <div class='formwrapper addController' id='addController'>        
                <div class='form-field'>
                    <label for='nameController'>Name</label><br>
                    <input id='nameController'type="text" size='30px'>  
                </div>        
                <div class='form-field'>
                    <label for='redController'>GPIO Red Pin</label><br>
                    <input id='redController'type="text" size='30px'>   
                </div>           
                <div class='form-field'>
                    <label for='greenController'>GPIO Green Pin</label><br>
                    <input id='greenController'type="text" size='30px'>  
                </div>           
                <div class='form-field'>
                    <label for='blueController'>GPIO Blue Pin</label><br>
                    <input id='blueController'type="text" size='30px'>  
                </div>       
                <div class='form-field-submit'>
                    <button id='submitController' type='submit'>Add</button>
                </div>  
            </div>
        </div>
    </form>
</div>

<div class='led' id='led'>
</div>

<div class='charts'>
    <div class='chart-container'>
        <h3 id='latest_temp'></h3>
        <div class=temp-chart>
            <canvas id='temp-canvas'></canvas>
        </div>
    </div>
    
    <div class='chart-container'>
        <h3 id='latest_hum'></h3>
        <div class='hum-chart'>
            <canvas id='hum-canvas'></canvas>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='client/socketio_client.js') }}"></script>
{% endblock content %}