{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the smart home assistant.</h1>

    {% if user.home_id == None %}
        <h1>First you should name your home!</h1>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }} <br>
                {{ form.name(size=30) }}                
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    {% else %}
        <style>
            .led    { grid-area: led; }
            .temp   { grid-area: temp; }
            .hum    { grid-area: hum; }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'led temp hum';
                grid-gap: 10px;
                background-color: grey;
                padding: 10px;
            }
            .grid-container > div {
                background-color:darkgray;
                text-align: center;
                padding: 20px 0;
                font-size: 20px;
                width: 300px;
                height:300px;
            }

            input[id^='led']  {
                display: none;
            }

            button[id^='led'] {
                cursor: pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;  
                border: none;
                background: none;
            }

            button[id^='led_i']:active  {
                outline: none;
                color: red;
            }

            button[id^='led_d']:active  {
                outline: none;
                color: blue;
            }

            button[id^='led']:focus  {
                outline: none;
            }

            #onoff_label #onoff_icon {
                cursor: pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;  
                color: black;
            }

            #colorshift_label {
                cursor: pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;  
                color: black;
            }

            :checked+#colorshift_label  {
                color: yellow;
            }

            :checked+#onoff_label #onoff_icon {
                color: green;
            }
        </style>
        <div>
            <h3>Username: {{ user.username }}</h3>
            <h3>Email: {{ user.email }}</h3>
        </div>
        <br>
        <h2>Dashboard</h2>
        <h3>{{ home_name }}</h3>
        <div id='dashboard' class='grid-container'>
            <!-- Icon loading. -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            
            <div id='led'>
                <h3>Led Controller</h3>
                <input id='led_onoff_toggle' type='checkbox'>
                <label for='led_onoff_toggle' id='onoff_label'>
                    <i id='onoff_icon' class='material-icons' >power_settings_new</i>
                </label>

                <button id='led_increaseBrightness' type='checkbox'>
                    <i id='increaseBrightness_icon' class='material-icons'>add_circle_outline</i>
                </button>
                  
                <button id='led_decreaseBrightness' type='checkbox'>
                    <i id='decreaseBrightness_icon' class='material-icons'>remove_circle_outline</i>  
                </button>
                
                <input id='led_colorshift_toggle' type='checkbox'>
                <label for='led_colorshift_toggle' id='colorshift_label'>
                  Colorshift
                </label>
            </div>
            <div id='temp'>
                <h4 id='temp_value'></h4>
                <canvas id='temp_canvas'></canvas>
            </div>
            <div id='hum'>
                <h4 id='hum_value'></h4>
                <canvas id='hum_canvas'></canvas>                
            </div>
            <script src="{{ url_for('static', filename='client/socketio_client.js') }}"></script>
        </div>
        <!--
        <div id="led">
            <button id="led_start"> On</button>
            <button id="led_colorshift"> Colorshift </button>
            <button id="led_increaseBrightness"> Increase Brightness</button> 
            <button id="led_decreaseBrightness"> Decrease Brightness</button>
            <button id="led_stop"> Off </button> 
            <script src="{{ url_for('static', filename='client/socketio_client.js') }}"></script>
            <script type='text/javascript'>
                $(document).ready(function ()   {
                    
                    var socket = io.connect('https://smart-home-assistant.herokuapp.com/',{secure: true});
                    
                    
                    socket.on('connect', function() {
                        socket.send('')
                    });

                });
            </script>
        </div>

        <br>
        <div>
            <h3>Temperature</h3>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Value</th>
                    <th>Timestamp</th>
                </tr>                
                {% for temperature in temperature_list %}
                    <tr>
                        <td>{{ temperature.id }}</td>
                        <td>{{ temperature.data_reading }}</td>                          
                        <td>{{ temperature.timestamp }}</td>                          
                    </tr>
                {% endfor %}
            </table>                    
        </div>        
        <div>
            <h3>Humidity</h3>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Value</th>
                    <th>Timestamp</th>
                </tr>                
                {% for humidity in humidity_list %}
                    <tr>
                        <td>{{ humidity.id }}</td>
                        <td>{{ humidity.data_reading }}</td>                          
                        <td>{{ humidity.timestamp }}</td>                          
                    </tr>
                {% endfor %}
            </table>                    
        </div>
        -->
    {% endif %}
{% endblock content %}