{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Cellphone</th>
            <th>Email</th>
        </tr>
        {% for student in students %}
            <tr>
                <th>{{ student.id }}</th>
                <th>{{ student.name }}</th>
                <th>{{ student.age }}</th>
                <th>{{ student.address }}</th>
                <th>{{ student.cellphone }}</th>
                <th>{{ student.email }}</th>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}